/* fonts */
@font-face{
    font-family: "Raleway-regular";
    src:url('./../fonts/Raleway-Regular.ttf');
}
@font-face{
    font-family: "Raleway medium";
    src: url('./../fonts/Raleway-Medium.ttf');
}
@font-face{
    font-family: "Raleway-bold";
    src: ('./../fonts/Raleway-bold.ttf');
}
@font-face{
    font-family: "Raleway-extrabold";
    src: ('./../fonts/Raleway-extrabold.ttf');
}
@font-face{
    font-family: "Ralway-semibold";
    src:url('./../fonts/Raleway-SemiBold.ttf');
}
@font-face{
    font-family: "Raleway-black";
    src:url('./../fonts/Raleway-Black.ttf');
}
/* colors */
:root{
--primary:#EEBF00;
--secondary:#232B38;
--ternary:#6C6C6C;
--danger:#EF4545;
--Pure:#FEFEFE;
--light:#F0F0F0;
--Heaven:#FFFFFF;
--Footer:#2D333F;
}

  /* reset */
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   }
   body{
       -webkit-font-smoothing:antialiased;
       height: 4000px;
       font-family: "Raleway-regular";
   }
.container {
width:100%;
padding:0 15px;
margin:0 auto;

} 
@media (min-width:576px){
    .container{
        max-width:540px;
    }
}
@media(min-width:768px){
    .container{
        max-width:720px;
    }
}
@media (min-width:992px){
    .container{
        max-width:960px;
    }
}
@media(min-width:1200px){
  .container{
        max-width:1152px;
    }
}
header.topbar{
    background: var(--secondary);
    color:var(--pure);
    font-family: "raleway-semibold";
    padding: 0.75rem 0;
}
header.topbar .auth > div a{

    color:var(--Pure);
    text-decoration: none;
    
}
.divider{
    color: var(--Pure);
}

header.topbar .icons a{
    margin-right:0.6rem;
}
header.topbar .auth .divider{
    padding:0 1rem;

}
header.topbar .auth > div img{
    margin-right: 0.35rem;
}

.flex{
    display: flex;
}

.justify-between{
    justify-content: space-between;
}
.items-center{
    align-items: center;
}
nav .top{
    padding: 1.5rem 0;
}
nav.top .contact h5,nav.top .time h5{
    font-family: "raleway-black";
    margin-bottom: 0.25rem;

}
nav.top .contact h6,nav.top .time h5{
    font-family: "raleway-medium";
    letter-spacing: 0.55rem;
    font-size: 00.75rem;
    color: var(--ternary);
}
nav .top .contact img,nav .top .time img{
    margin-right: 1rem;
}
.justify-center{
    justify-content:center ;
}
nav .navbar a{
    text-decoration: none;
    color: var(--secondary);
    font-family: "raleway-semibold";
    font-size: 1rem;
    padding: 1rem 1.5rem;
    transition:all .3s ease;
}
nav .navbar a.active{
    background-color: var(--primary);
    color:var(--Pure);
}
nav .navbar a:hover{
    background-color: var(--primary);
}
.magic-shadow{
    position: relative;
    background-color: var(--Heaven);
}
.magic-shadow:after{
    content:'';
    display:block;
    width: 100%;
    height:69px;
    background-image: url("../icons/shadow.svg");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    bottom:-22px;
    z-index:-1;
}
/*.magic-shadow-sm{
    position: relative;
    background-color: var(--Heaven);
}
/.magic-shadow-sm:after{
    content:'';
    display:block;
    width: 100%;
    height:69px;
    background-image: url("../icons/shadow-sm.svg");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    bottom:-20px;
    z-index:-1;
} */
.magic-shadow-sm{
    box-shadow: 5px 5px 5px gray;
}
header.hero .container{
    position: relative;
}
header.hero{
    height: 600px;
    background-image:url("../images/hero.png");
    background-position: 0% 0%;
    background-repeat: no-repeat;
    overflow: hidden;
    
}
header.hero .welcome{
    margin-bottom: 0.25rem;
}
header.hero .welcome{
    font-family: "Raleway-bold";
    color: var(--secondary);
    margin-right: 0.75rem;

}
header.hero h1{
font-family: "raleway-extrabold";
color: var(--secondary);
font-size: 2.5rem;
margin-bottom: 0.25rem;
}
header.hero h1 span{
    color: var(--primary);
}
header.hero p{
    font-family: "raleway-medium";
    width:50%;
    line-height:1.5;
    margin-bottom:1rem;
}
.btn{
    padding:0.75rem 0.75rem;
    border-radius:4x;
    border: none;
    line-height: 0.8;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 1px solid transparent;
    background-color: var(--secondary);
    color: var(--Pure);
}
.btn-primary{
    background-color: var(--primary);
    color: var(--Heaven);
}
.btn-primary:hover{
    background-color: var(--Heaven);
    color: var(--primary);
    border:1px solid var(--primary);
}
.btn-secondary{
    background-color: var(--secondary);
    color: var(--Heaven);
}
.btn-secondary:hover{
    background-color: var(--Heaven);
    color: var(--secondary);
    border:1px solid var(--secondary);
}
header.hero button:first-child{
    margin-right: 0.50rem
}

header.hero .hero-image{
    position: absolute;
    top:-40px;
    right:-40px;

}
section{
    padding:4rem 0;
}
section.top-products{
    background-color:var(--light);
}
.section-heading{
    font-family: "raleway-bold";
    text-align: center;
    position: relative;
    margin-bottom: 6rem;
}
.section-heading:after{
    content:'';
    display:block;
    width: 100%;
    height:69px;
    background-image: url("../icons/hr.svg");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    bottom:-40px;
}
section.top-products .food-slider .food-cart{
    background-color: var(--Heaven);
    padding:1.5rem 0;
    border-radius: 4px;
}
section.top-products .food-slider .food-cart .product-image img{
    width: 80%;
    height:200px;
    object-fit:contain;
    padding-bottom: 1rem;
}
hr{
    border: 1px solid var(--light);
    opacity:0.8;
    margin:1rem 0;
}
section.top-products .food-slider .food-cart{
    font-family: "raleway-bold";
    font-size:1.3rem;
    margin-bottom: 0.25rem;
}
.text-center{
    text-align: center;
}
section.top-products .food-slider .food-cart .stars {
    margin-bottom: 0.5rem;
}
section.top-products .food-slider .food-cart .stars img{
    margin-right: 0.25rem;
}
section.top-products .food-slider .food-cart .price{
    font-family: "raleway-medium";
    color: var(--danger);
    margin-bottom: 1rem;
}
section.top-products .food-slider .food-cart button{
font-family: "raleway-medium";
color:var(--secondary);
background-color: var(--Heaven);
border:1px solid var(--primary);
border-radius:4px;
display:flex;
align-items:center;
width:50%;
font-size:1rem;
cursor:pointer;
transition:all .3s ease;
}
.food-slider .food-cart button img{
    background: var(--primary);
    padding:0.50rem;
    height:32px;
    margin-right:1.2rem;
}
section.top-products .food-slider .food-cart button:hover{
background-color: var(--primary);
color: var(--Heaven);
}
.slick-slide{
    margin: 0 27px;
}
.slick-list{
    margin:0 -27px;
}
.top-products .slider-btn{
    width: 30px;
    height: 30px;
    border:none;
    background: var(--primary);
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    position: absolute;
}
.prev-btn{
    position:absolute;
    top: 46%;
    left:-3rem;
    z-index:1;
}
.next-btn{
    position:absolute;
    top: 46%;
    right:-3rem;
    z-index:1;
}
section.top-products .slider{
    position: relative;
}
.top-products .btn-wrapper{
    margin-top: 2rem;
}
.slick-track{
    padding: 1rem 0;
}
section.about-meal img{
    width: 85%;
    
}
.flex-1{
    flex:1;
}
section.about-meal h2{
    font-family: "raleway-bold";
    font-size: 1.4rem;
    color: var(--secondary);
    margin-bottom:2rem ;
    line-height: 1.3rem;
}
section.about-meal p{
    line-height:1.7rem;
    margin-bottom: 4rem;

}
section.our-services {
    background-color: var(--light);
  
}
section.our-services .card-wrapper{
    margin-right:-2rem;
    margin-top: 8rem;
}
section.our-services .service-card{
    background-color: var(--Heaven);
    text-align:center;
    padding: 2rem;
    padding-top: 4rem;
    margin-right: 2rem;
    position: relative;
    border-radius: 4px;
}
section.our-services .service-card .icon{
    position:absolute;
    top: -45px;
    left:38%;
    transform: translatex(-50);
}
section.our-services .service-card h2{
    font-family: "Raleway-bold";
    font-size: 1.3rem;
    margin-bottom: 1rem;
}
section.our-services .service-card p{
    line-height:1.6;
    margin-bottom:1rem;
}
.text-primary{
    color: var(--primary);
}

section.big-deal {
    background: linear-gradient(
        rgba(35,43,56,0.9),
        rgba(35,43,56,0.9)
    ),url("../images/food-table.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    background-attachment: fixed;
}
section.big-deal .timer{
    margin-right: -2rem;
}
section.big-deal .timer div{
    background-color: var(--primary);
    margin-right:2rem ;
    width: 150px;
    height: 150px;
    border-radius: 4px;
}

section.big-deal .timer .text span{
    display: block;
}
section.big-deal .timer .text{
    flex-direction: column;
    color: whitesmoke;
    
}
section.big-deal .timer div span:first-child{
font-family: "raleway-semibold";
font-size: 2.5rem;
color: var(--Heaven);
margin-bottom: 0.25rem;
}
section.big-deal .timer div span:last-second{
    font-family: "raleway-medium";
    color: var(--Heaven);
}

.text-pure{
    color: var(--Pure);
}
 
section.latest-news{
    background-color:var(--light);
    position:relative;
    z-index: 0;
}
section.latest-news .article-wrapper{
    margin-right: -2rem;
}
section.latest-news .article-wrapper .card{
    margin-right: 2rem;
    background-color:var(--Heaven);
    border-radius: 4px;
}
section.latest-news .article-wrapper .card img{
    width: 100%;
}
section.latest-news .article-wrapper .card .card-content{
    padding: 2rem;
}
section.latest-news .article-wrapper .card .card-content .post-meta{
    margin:1rem;
}
section.latest-news .article-wrapper .card .card-content .comment-count{
    margin-left: 1rem;
}
section.latest-news .article-wrapper .card-content h2{
    font-family: "raleway-bold";
    font-size: 1.3rem;
    margin-bottom: 1rem;
}
section.latest-news .article-wrapper .card-content p{
    line-height: 1.6rem;
}
section.latest-news .btn-wrapper{
    margin-top: 2rem;
}
section.subscribe{
    background-color: var(--primary);
}
section.subscribe .container > div:first-child img{
    width: 90%;
}
section.subscribe .container h1{
    font-family: "raleway-bold";
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}
section.subscribe .container p{
    font-family: "raleway-medium";
    font-size: 1rem;
    margin-bottom: 1.5rem;
}
section.subscribe .input-wrap{
    background-color: var(--Heaven);
    padding: 0.3rem;
    border-radius: 4px;

}
section.subscribe .input-wrap input{
    width: 100%;
    border: none;
    padding: 0 1 rem;
    font-size: 1rem;
}
section.subscribe .input-wrap input:focus{
    outline: none;
}

section.subscribe .input-wrap button {
    padding:0.8rem 2rem;
    border:none;
    background-color:var(--primary);
    color: var(--Pure);
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: all .3s ease;
    outline: none;
}
section.subscribe .input-wrap button:hover{
    background-color: var(--secondary);
}
section.contact-us{
    padding-top: 0;
    padding-bottom: 0;
}
section.contact-us .contact-info-wrapper{
    padding: 4rem 0;
}
